<p>
  Name: {{ nameField.valid }}
  <input
      [class.is-valid]="isNameFieldValid"
      [class.is-invalid]="isNameFieldInvalid"
      type="text"
      [formControl]="nameField"/>
  <!--<code><pre>{{nameField | json }}</pre></code>-->
  <button [disabled]="nameField.invalid" (click)="getNameValue()">getValue</button>
</p>

<div class="messages" [class.active]="isNameFieldInvalid">
  <p>
    <strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido.</strong>
  </p>
  <p>
    <strong *ngIf="nameField.touched && nameField.hasError('maxlength')">Máximo 10 carácteres</strong>
  </p>
</div>



<div>
  <p>
    Email: {{emailField.valid}}
    <input
    [class.is-valid]="isEmailFieldValid"
    [class.is-invalid]="isEmailFieldInvalid"
    type="email" [formControl]="emailField"/>
  </p>
  <div class="messages" [class.active]="isEmailFieldInvalid">
    <p>
      <strong *ngIf="emailField.touched && emailField.hasError('required')">Este campo es requerido.</strong>
    </p>
    <p>
      <strong *ngIf="emailField.touched && emailField.hasError('email')">Ingrese un correo válido</strong>
    </p>
  </div>
</div>



<p>
  Teléfono: {{phoneField.value}}
  <input type="tel" [formControl]="phoneField"/>
</p>

<p>
  Color: {{colorField.value}}
  <input type="color" [formControl]="colorField"/>
</p>

<p>
  Fecha: {{dateField.value}}
  <input type="date" [formControl]="dateField"/>
</p>

<p>
  Número: {{ageField.value}}
  <input type="number" [formControl]="ageField"/>
</p>

<p>
  Descripción: {{descriptionField.value}} <br>
  <textarea [formControl]="descriptionField" name="" id="" cols="30" rows="10"></textarea>
</p>

<p>
  Categoría: {{categoryField.value}}
  <select [formControl]="categoryField" name="" id="">
    <option value="null">Selecciona una opción</option>
    <option value="category-1">Categoría 1</option>
    <option value="category-2">Categoría 2</option>
    <option value="category-3">Categoría 3</option>
  </select>
</p>

<p>
  Tags: {{tagField.value}}
  <select [formControl]="tagField" name="" id="" multiple>
    <option value="null">Selecciona una opción</option>
    <option value="tag-1">Tag 1</option>
    <option value="tag-2">Tag 2</option>
    <option value="tag-3">Tag 3</option>
  </select>
</p>

<p>
  Agree: {{agreeField.value}}
  <input type="checkbox" [formControl]="agreeField"/>
</p>

<p>
  Género: {{genderField.value}}
  <label for="">
    <input type="radio" value="masculino" [formControl]="genderField" name="genderField"/>
    Masculino
  </label>
  <label for="">
    <input type="radio" value="femenino" [formControl]="genderField" name="genderField"/>
    Femenino
  </label>
  <label for="">
    <input type="radio" value="otro" [formControl]="genderField" name="genderField"/>
    Otro
  </label>
</p>


<p>
  Zona: {{zoneField.value}}
  <label for="">
    <input type="radio" value="zona-1" [formControl]="zoneField" name="zoneField"/>
    Zona A
  </label>
  <label for="">
    <input type="radio" value="zona-2" [formControl]="zoneField" name="zoneField"/>
    Zona B
  </label>
  <label for="">
    <input type="radio" value="zona-3" [formControl]="zoneField" name="zoneField"/>
    Zona C
  </label>
</p>

