<form [formGroup]="form" (ngSubmit)="save()" >
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3 *ngIf="!category">Crear categoría</h3>
        <h3 *ngIf="category">Editar categoría</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input  formControlName="name" matInput type="text">
            <div *ngIf="nameField.touched && nameField.invalid">
              <mat-error *ngIf="nameField.hasError('required')">
                Campo requerido
              </mat-error>
              <mat-error *ngIf="nameField.hasError('minLength')">
                Mínimo 4 caráteres
              </mat-error>
              <mat-error *ngIf="nameField.hasError('not_available')">
                Este nombre ya se encuentra registrado
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <img  *ngIf="imageField.value" [src]="imageField.value">
          <!--<input (change)="uploadFile($event)" type="file">-->
          <br/>
          <button type="button" mat-raised-button (click)="fileInput.click()">Subir imagen</button>
          <input hidden (change)="uploadFile($event)" #fileInput type="file" id="file">

          <div class="messages" *ngIf="imageField.touched && imageField.invalid">
            <mat-error *ngIf="imageField.hasError('required')">
              Campo requerido
            </mat-error>
          </div>
          <!--<mat-form-field>
            <mat-label>Imagen:</mat-label>
            <input  formControlName="image" matInput type="text">
            <div *ngIf="imageField.touched && imageField.invalid">
              <mat-error *ngIf="imageField.hasError('required')">
                Campo requerido
              </mat-error>
            </div>
          </mat-form-field>-->
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">
        <span *ngIf="!category">Crear</span>
        <span *ngIf="category">Editar</span>
      </button>
    </mat-card-actions>
  </mat-card>

</form>
